<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>MVC Exemplo Node.JS</title>
  <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <br />
    <div class="d-flex justify-content-between">
      <h2 class="m-2">Carrinho</h2>
      <div><a href="/">Voltar para home</a></div>
    </div>
    <br />
    <% var products = [] %>
    <% if (products) { %>
      <div class="row">
        <% for(var i=0; i < products.length; i++) {%>
          <div id="card" class="card col-3 jumbotron p-3 m-2">
            <img src="<%= products[i].image %>" class="card-img-top" alt="..." />
            <div class="card-body">
              <div class="card-title">
                <%= products[i].title %>
              </div>
              <p class="card-text fs-3 text-danger">
                R$ <%= products[i].price %>
              </p>
              <button onclick="window.addCard(this)" data-product="<%= JSON.stringify(products[i]) %>"
                class="btn btn-success">
                Adicionar ao carrinho
              </button>
            </div>
          </div>
          <% } %>
      </div>
      <% } %>
  </div>
</body>

</html>