<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>MVC Exemplo Node.JS</title>
  <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <br />
    <div class="d-flex justify-content-between">
      <h2 class="m-2">Carrinho</h2>
      <div><a href="/">Voltar para home</a></div>
    </div>
    <br />
    <% if (produtos) { %>
      <div class="row">
        <% for(var i=0; i < produtos.length; i++) {%>
          <div class="row">
            <% for(var i=0; i < produtos.length; i++) {%>
              <div class="card col-3 jumbotron p-3 m-2">
                <form >
                  <img src="<%= produtos[i].imagem %>" class="card-img-top" alt="..." />
                  <div class="card-body">
                    <div class="card-title">
                      <%= produtos[i].titulo %>
                    </div>
                    <p class="card-text fs-3 text-danger">
                      R$ <%= produtos[i].preco %>
                    </p>
                    <button onclick="window.deleteProduct('<%= produtos[i].id%>')" id="delete-product" class="btn btn-danger" type="button">
                      Remover do carrinho
                    </button>
                  </div>
                </form>
              </div>
              <% } %>
          </div>
          <% } %>
      </div>
      <% } %>
  </div>
</body>

<script>
  function deleteProduct(id) {
    fetch(`/carrinho/${id}`, {
      method: 'DELETE',
    })
    .then(response => response.json())
    .then(data => window.location.href = data.redirect)
  }
</script>

</html>